body{
    background-color: grey;
}

/* First grid box */

.box1{
    margin: 0 auto;
    padding: 100px;
    max-width: 1500px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 360px 360px 1fr;
    grid-template-areas: "big big img2" "big big img3" "img4 img5 img6";
    gap: 56px;
}
.box1 img{
    width: 100%;
}
.box1 .big_image{
    grid-area: big;
}
.box1 img[alt="img1"]{
    height: 100%;
}
.box1 img[alt="img2"]{
    grid-area: img2;
    height: 360px;
}
.box1 img[alt="img3"]{
    grid-area: img3;
    height: 360px;
}
.box1 img[alt="img4"]{
    grid-area: img4;
    height: 580px;
}
.box1 img[alt="img5"]{
    grid-area: img5;
    height: 580px;
}
.box1 img[alt="img6"]{
    grid-area: img6;
    height: 580px;
}

/* Second grid box */

.box2 {
    display: grid;
    grid-template-columns: repeat(4, 425px);
    grid-template-rows: repeat(2, 425px);
    gap: 0px;
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
    background-color: black;
}
.box2 img{
    height: 100%;
    width: 100%;
    opacity: 0.2;
}
.box2 img:hover{
    transition: 1s;
    opacity: 1;
}