@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.head {
  width: 100%;
  max-width: 1770px;
  background: url(../img/head_bg.png) center/cover no-repeat;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
}
.head .container {
  text-align: center;
  padding: 266px 0 119px;
  color: #fff;
}
@media screen and (max-width: 720px) {
  .head .container {
    padding: 162px 10px 70px;
  }
}
.head .container__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
  padding-left: 3px;
}
.head .container__subtitle {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.32rem;
  padding: 5px 0 49px;
}
.head .container .form-search {
  background-color: #fff;
  width: 100%;
  max-width: 650px;
  height: 60px;
  margin: 0 auto 117px;
  border: 2px solid #fff;
  display: flex;
}
.head .container .form-search__textfield {
  text-align: center;
  flex: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.12rem;
  border: none;
  outline: none;
}
.head .container .form-search__textfield:focus {
  transition: ease-in-out 0.5s;
  font-size: 16px;
  color: #5474fd;
}
.head .container .form-search__btn {
  width: 100%;
  max-width: 146px;
  background-color: #5474fd;
  color: #fff;
  border: none;
  font-family: "Aleo-Regular", serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.26rem;
  position: relative;
}
.head .container .form-search__btn .icon-search {
  font-size: 23px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.head .container .form-search__btn:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
}
.head .container .form-search__btn:active {
  position: relative;
  margin: 3px 0;
}
.head .container .scroll {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 0.2rem;
  color: #fff;
  text-decoration: none;
}
.head .container .scroll__ico {
  font-size: 36px;
}
.head .container .scroll:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.head .navbar {
  width: 100%;
  background-color: #5474fd;
  color: #fff;
}
.head .navbar__container {
  width: 100%;
  height: 80px;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .navbar .container__logo {
  font-size: 25px;
  text-transform: uppercase;
  margin-right: 5px;
}
.head .navbar .container__navbox {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  width: 100%;
}
.head .navbar .navbox__link {
  font-family: "Aleo-Regular", serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.head .navbar .navbox__link:hover {
  border-bottom: 2px solid #fff;
}
.head .navbar .header__burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .head .navbar {
    height: auto;
  }
  .head .navbar .navbar__container {
    display: none;
  }
  .head .navbar .header__burger {
    display: block;
    position: relative;
    font-size: 41px;
    color: #fff;
    margin: 0 15px;
    height: 75px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    padding-top: 22px;
  }
  .head .navbar .header__burger #check-menu {
    display: none;
  }
  .head .navbar .header__burger label {
    display: block;
    position: absolute;
    top: 0;
    right: 36px;
    width: 45px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .head .navbar .header__burger .burger-line {
    position: absolute;
    top: 33%;
    right: 40px;
    width: 35px;
    height: 4px;
    background-color: #fff;
    transition: 0.5s all;
  }
  .head .navbar .header__burger .second, .head .navbar .header__burger .third {
    top: 50%;
  }
  .head .navbar .header__burger .fourth {
    top: 67%;
  }
  .head .navbar .header__burger .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    background-color: #5474fd;
    z-index: 1;
  }
  .head .navbar .header__burger .menu__link {
    display: block;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
  }
  .head .navbar .header__burger a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .head .navbar .header__burger #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  .head .navbar .header__burger #check-menu:checked ~ .first {
    display: none;
  }
  .head .navbar .header__burger #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  .head .navbar .header__burger #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  .head .navbar .header__burger #check-menu:checked ~ .fourth {
    display: none;
  }
}
@media screen and (max-width: 1160px) {
  .head #navigation .navbar__container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 480px) {
  .head #navigation .header__burger {
    font-size: 24px;
    text-align: left;
    padding-top: 28px;
  }
  .head .form-search .form-search__textfield {
    font-size: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 400px) {
  .head .container__title {
    font-size: 38px;
  }
  .head .container__subtitle {
    font-size: 11px;
  }
  .head .container .form-search {
    flex-direction: column;
    max-width: 230px;
    align-items: center;
    height: 70px;
  }
  .head .container .form-search__btn {
    height: 28px;
    width: 100%;
    max-width: 228px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icofonts/icomoon.eot?kfyc8t");
  src: url("../fonts/icofonts/icomoon.eot?kfyc8t#iefix") format("embedded-opentype"), url("../fonts/icofonts/icomoon.ttf?kfyc8t") format("truetype"), url("../fonts/icofonts/icomoon.woff?kfyc8t") format("woff"), url("../fonts/icofonts/icomoon.svg?kfyc8t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-facebook-f:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-quote-left:before {
  content: "";
}

.icon-youtube-play:before {
  content: "";
}

.icon-angle-down-circle:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-like2:before {
  content: "";
}

.icon-search:before {
  content: "";
}

@font-face {
  font-family: "Aleo-Regular";
  src: url("../fonts/Aleo-Font/aleo-regular-webfont.eot");
  src: url("../fonts/Aleo-Font/aleo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aleo-Font/aleo-regular-webfont.woff2") format("woff2"), url("../fonts/Aleo-Font/aleo-regular-webfont.woff") format("woff"), url("../fonts/Aleo-Font/aleo-regular-webfont.ttf") format("truetype"), url("../fonts/Aleo-Font/aleo-regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
#choose-us {
  background: url(../img/WCU-bg.png) center/cover no-repeat;
  width: 100%;
  max-width: 1770px;
  height: 685px;
  margin: 0 auto;
}
@media screen and (max-width: 650px) {
  #choose-us div.container__box2 {
    display: none;
  }
}
#choose-us .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  color: #fff;
}
#choose-us .container__box1 {
  font-family: "Aleo-Regular", serif;
  width: 100%;
  max-width: 540px;
  height: auto;
  line-height: 1.5;
}
#choose-us .container .box1__title {
  font-size: 36px;
  padding: 70px 0 50px;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  #choose-us .container .box1__title {
    padding: 0;
  }
}
#choose-us .container .box1__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  text-align: justify;
  padding: 0 11px 29px 0;
}
#choose-us .container .box1__btn {
  width: 225px;
  height: 60px;
  margin-top: 16px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: #fff;
  background-color: #496bfe;
  border: none;
}
#choose-us .container .box1__btn:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
}
#choose-us .container .box1__btn:active {
  position: relative;
  transform: scale(0.98);
}
#choose-us .container__box2 {
  width: 100%;
  max-width: 475px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#choose-us .container__box2__photo {
  margin-bottom: 5px;
  align-self: start;
}

#how-it-works {
  background-color: #333333;
  font-family: "Aleo-Regular";
  font-size: 36px;
  color: #e8e8e8;
  width: 100%;
  max-width: 1770px;
  margin: 0 auto;
}
#how-it-works .icon-angle-down-circle {
  display: none;
}
#how-it-works .container {
  height: 337px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 94px;
}
#how-it-works .icon-search, #how-it-works .icon-check, #how-it-works .icon-like2 {
  display: block;
  font-size: 73px;
  padding-bottom: 17px;
}
#how-it-works .icon-search {
  color: #5474fd;
}
#how-it-works .icon-check {
  color: #ff6363;
}
#how-it-works .icon-like2 {
  color: #00a2ff;
}
#how-it-works .line {
  margin-top: -50px;
  align-self: start;
}
#how-it-works .box1, #how-it-works .box3, #how-it-works .box5 {
  margin: 0 -64px;
}
#how-it-works .box1 {
  margin-left: 0;
}
#how-it-works .box5 {
  margin-right: 0;
}
@media screen and (max-width: 800px) {
  #how-it-works .line {
    display: none;
  }
  #how-it-works .icon-angle-down-circle {
    display: inline-block;
    transform: rotate(-90deg);
    padding-right: 22px;
    font-size: 53px;
  }
  #how-it-works .box1, #how-it-works .box3, #how-it-works .box5 {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  #how-it-works .container {
    height: auto;
    flex-direction: column;
    padding-top: 10px;
  }
  #how-it-works .icon-angle-down-circle {
    transform: rotate(0deg);
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #how-it-works .line {
    margin-top: -50px;
    flex-basis: 300px;
    position: relative;
    top: -123px;
  }
}

#spain {
  width: 100%;
  max-width: 1770px;
  margin: 0 auto;
}
#spain .container {
  height: 100%;
  position: relative;
}
#spain .spain-group1 {
  background: url(../img/spain-bg1.png) center/cover no-repeat;
  height: 700px;
}
#spain .spain-group1 .box {
  position: absolute;
  top: 32.714285%;
  left: 30px;
}
#spain .spain-group2 {
  background: url(../img/spain-bg2.png) center/cover no-repeat;
  height: 700px;
}
#spain .spain-group2 .box {
  position: absolute;
  top: 32.714285%;
  right: 30px;
}
#spain .box {
  background-color: rgba(131, 131, 131, 0.9);
  width: 100%;
  max-width: 540px;
  height: 370px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 50px 30px 0;
}
#spain .box__title {
  padding: 30px 0 23px 0;
  text-transform: uppercase;
  font-weight: 400;
}
#spain .box__text {
  font-size: 14px;
  line-height: 1.874;
  text-align: justify;
  padding-bottom: 40px;
}
#spain .box__btn {
  width: 225px;
  height: 60px;
  border: none;
  color: #fff;
  font-family: "Aleo-Regular";
  font-size: 16px;
  letter-spacing: 0.075rem;
  background: #5474fd linear-gradient(45deg, #496bfe 0px, #496bfe 77px, rgba(73, 107, 254, 0) 77px, rgba(73, 107, 254, 0) 225px);
}
#spain .box__btn:hover {
  background: #496bfe;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 620px) {
  #spain .container .box {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: auto;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 389px) {
  #spain .box .box__btn {
    width: 100%;
    max-width: 225px;
  }
}

#comment {
  background: url(../img/comment-bg.png) center/cover no-repeat;
  height: 730px;
  width: 100%;
  max-width: 1770px;
  margin: 0 auto;
}
#comment .container {
  padding-top: 114px;
}
@media screen and (max-width: 944px) {
  #comment .container {
    padding-top: 50px;
  }
  #comment .container .container__title {
    padding-bottom: 20px;
  }
  #comment .container .container__box {
    flex-direction: column;
    align-items: center;
    max-width: 445px;
    margin: 0 auto;
  }
}
#comment .container__title {
  font-family: "Aleo-Regular";
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 93px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.03rem;
}
#comment .container__box {
  display: flex;
  width: 100%;
  height: 285px;
  color: #fff;
}
#comment .box__message {
  background-color: #333333;
  padding: 45px 26px 0px 61px;
  flex: auto;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  line-height: 1.74;
  font-weight: 200;
  flex-basis: 665px;
}
@media screen and (max-width: 1058px) {
  #comment .box__message {
    padding: 2%;
  }
}
@media screen and (max-width: 1058px) and (-ms-high-contrast: active), screen and (max-width: 1058px) and (-ms-high-contrast: none) {
  #comment .box__message {
    max-width: 445px;
    background-color: transparent;
  }
}
#comment .message__name {
  text-transform: uppercase;
  font-size: 19px;
  padding-bottom: 32px;
}
#comment .icon-quote-left {
  position: relative;
  top: -11px;
  color: #5474fd;
  font-size: 20px;
  display: inline-block;
  padding-right: 10px;
}
@media screen and (max-width: 500px) {
  #comment .box__photo {
    display: none;
  }
}

#footerbox {
  background-color: #232323;
  height: 269px;
  width: 100%;
  max-width: 1770px;
  margin: 0 auto;
}
#footerbox .container {
  padding-top: 122px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  color: #fff;
  text-align: center;
}
#footerbox .container__title {
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 10px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
#footerbox .container__social {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 166px;
  margin: 0 auto;
}
#footerbox .container__social span:hover {
  color: #5474fd;
}