*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(../img/mainbg.png) no-repeat;
    padding-top: 65px;
}
h1,h2{
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 10px;
}
h1{
    font-size: 86px;
    max-width: 1040px;
}
h2{
    font-size: 18px;
    font-weight: 600;
    color: #303030;
}
.slider{
    margin: 0 auto;
    max-width: 1400px;
}
button.slick-prev, button.slick-prev::before{
    left: -74px;
    z-index: 1;
    width: 100px;
    height: 100px;
    font-size: 74px;
}
button.slick-next, button.slick-next::before{
    right: -102px;
    z-index: 1;
    width: 100px;
    height: 100px;
    font-size: 74px;
}
button.slick-next::before, button.slick-prev::before{
    color: black;
}
